.about-hero {
  height: 80vh;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.our-mission {
  background: #6658bd;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  height: 60vh;
}

.about-content h3 {
  text-transform: uppercase;
}

